<main>

  <div *ngIf="cargando" class="alert alert-info text-center m-4">
    Cargando juegos...
  </div>

  <div *ngIf="error" class="alert alert-danger text-center m-4">
    {{ error }}
  </div>

  <section class="intro" *ngIf="!cargando && !error">
    <h2>{{ nombreCategoria }}</h2>
  </section>

  <div *ngIf="mensajeAgregado" class="text-center py-2"
    style="background-color: var(--color-tarjeta); color: #4caf50; font-weight: bold;">
    {{ mensajeAgregado }}
  </div>

  <section class="container mt-4" *ngIf="!cargando && !error">

    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-8 col-lg-6">
        <input
          type="text"
          [(ngModel)]="filtroBusqueda"
          name="busqueda"
          class="form-control"
          placeholder="🔍 Buscar juego por nombre..." />
      </div>
    </div>

    <div class="row g-4 justify-content-center">

      <div class="col-12 col-md-6 col-lg-4"
        *ngFor="let juego of juegosFiltrados">
        <app-juego-card
          [juego]="juego"
          (agregar)="agregarAlCarrito($event)">
        </app-juego-card>
      </div>

    </div>

    <div class="text-center mt-4" *ngIf="juegosFiltrados.length === 0">
      <p>No se encontraron juegos en esta categoría.</p>
    </div>

  </section>

</main>